*{
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(".jpg");
}




h1{
    text-align: center;
    background-color:#C0C0C0 ;
}

#nav{
    position: relative;
    max-width: 300px;
    float: left;
    margin-right:10px ;
}

#articlecon{
    position: absolute;
    left: 180px;
    margin: 0 10px 0 0;
    /*border: 5px solid #C0C0C0;*/
    width: 1200px;
    height: auto;
    border-left: 2px dashed #808080;
}

#con01{
    position: absolute;
    left:640px;
    top:60px;
    padding-left: 10px;

}

#con02{
    position: absolute;
    left:640px;
    top:620px;
    padding-left: 10px;

}

#con03{
    position: absolute;
    left:640px;
    top:1170px;
    padding-left: 10px;

}
#con04{
    position: absolute;
    left: 640px;
    top: 1725px;
    padding-left: 10px;

}

.sportsimg{
    border: 2px solid #808080;

}

a:hover{
    background-color: #FFFF00;
}

a{
    text-decoration: none;
}