#nav{
   position: absolute;
   left:270px;




}
#form{
    position: absolute;
    font-size: 0.9em;
    left: 250px;
    bottom: 17px;
    width:100%;
    height: auto;
}


#articlecon{
    position: absolute;
    top:300px;
    margin-left: -180px;
    font-size: 0.9em;
    border-left: none;
    border-top: 5px dashed #000000 ;
}