#bs-example-navbar-collapse-1{
    background-color: #C0C0C0;
}
body{
    background-image: url("plain.jpg");
}

.container-fluid{
    margin: 0;
    padding: 0;
}

#article1img{

}



























/*#article1img{*/
    /*position: absolute;*/
    /*top:135px;*/
    /*left:700px;*/
/*}*/

/*#article1con{*/
    /*position: absolute;*/
    /*left: 1060px;*/
    /*top:135px;*/
/*}*/

/*#football{*/
    /*position: absolute;*/
    /*top:72px;*/
    /*left: 710px;*/
/*}*/

/*#article4img{*/
    /*position: absolute;*/
    /*left: 710px;*/

/*}*/

/*#article4con{*/
    /*position: absolute;*/
    /*left:1060px;*/

/*}*/

/*#racing{*/
    /*position: absolute;*/
    /*top:380px;*/
    /*left:710px;*/
/*}*/

